<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/png" href="images/favicon.ico"/>

  <title>DuckHunt</title>
</head>
<body>
<main class="wallpaper-shell">
  <div class="loading visible">
    <div class="content">
      <p>Loading</p>
    </div>
  </div>

  <div class="container" id="game-container">
    <canvas id="canvas" width="768" height="720"></canvas>

    <div class="volume" aria-label="Volume controls">
      <button class="volume-button volume-down" type="button" aria-label="Volume down" title="Volume down">-</button>
      <button class="volume-button volume-up" type="button" aria-label="Volume up" title="Volume up">+</button>
      <button class="volume-button volume-mute" type="button" aria-label="Mute" title="Mute">M</button>
    </div>
  </div>
</main>
</body>
</html>
